.userProfileHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userProfileLogo {
  max-height: 100px;
}
.userProfileName {
  text-align: center;
}
.userProfileInner { /*inner div, activated link, holds all content*/
    padding: 10px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
}
.opportunitiesContainer {
  margin-left: auto;
  margin-right: auto;
}
.profileSectionHeaders {
  text-align: center;
}
/* .userProfile {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  margin-bottom: 25px;
} */
/* .noAdminText {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}
.addOpportunityButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  background-color: #DA2536;
  color: white;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  padding: 8px;
} */