main {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.userProfile {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}

.profileCard {
  text-align: left;
}

.editProfilePencil {
  position:absolute;
  top: 0px;
  right: 20px; 
}

main .opportunities {
  margin-left: auto;
  margin-right: auto;
}

.profileSectionHeaders {
  text-align: center;
}

.userProfile {
  margin-bottom: 25px;
}

.logo {
  max-height: 100px;
}

.noAdminText {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

.addOpportunity {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  background-color: #DA2536;
  color: white;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  padding: 8px;
}