.opportunitiesPage {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.opportunitiesPage h2 {
  text-align: center;
}

.opportunitiesPage .addOpportunity {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  background-color: #DA2536;
  color: white;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  padding: 8px;
}

.opportunitiesPage button:hover {
  cursor: pointer;
}

.opportunitiesPage .link {
  text-decoration: none;
}

.opportunitiesPage ul {
  padding: 0;
  list-style: none;
}