.submitButton, 
.responseButton, 
.clearFormButton,
.searchBarSubmitButton,
.addOpportunityButton,
.followButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #DA2536;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.submitButton, 
.responseButton, 
.clearFormButton,
.addOpportunityButton,
.followButton {
  font-weight: 700;
  padding: 8px;
}
.addOpportunityButton {
  margin-bottom: 15px;
}
.submitButton:hover, 
.responseButton:hover, 
.clearFormButton:hover,
.searchBarSubmitButton:hover,
.addOpportunityButton:hover,
.followButton:hover,
.fa-search:hover {
  background-color: #eb293c;
  color: #eee;
}
.responseButton {
  margin-bottom: 10px;
}

