button:hover {
  cursor: pointer;
}
.submitButton, 
.responseButton, 
.clearFormButton,
.searchBarSubmitButton,
.addOpportunityButton,
.followButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #DA2536;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.submitButton, 
.responseButton, 
.clearFormButton,
.addOpportunityButton,
.followButton {
  font-weight: 700;
  padding: 8px;
}
.addOpportunityButton {
  margin-bottom: 15px;
}
.submitButton:hover, 
.responseButton:hover, 
.clearFormButton:hover,
.searchBarSubmitButton:hover,
.addOpportunityButton:hover,
.followButton:hover,
.fa-search:hover {
  background-color: #eb293c;
  color: #eee;
}
.responseButton {
  margin-bottom: 10px;
}
.selectOptionButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}
.selectedOptionLabel, .deSelectedOptionLabel {
  padding: 5px;
  border-radius: 3px;
}
.selectedOptionLabel{
  background-color: #DA2536;
  color: white;
}
.deSelectedOptionLabel {
  background-color: rgba(8, 46, 65, 0.1);
  color: #082E41;
}