.submitButton, .responseButton, .clearFormButton {
  display: flex;
  font-weight: 700;
  background-color: #DA2536;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 8px;
}
.responseButton {
  margin-bottom: 10px;
}
.addOpportunityButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  background-color: #DA2536;
  color: white;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  padding: 8px;
}