.inputField {
  width: 150px;
  font-size: 12px;
  font-weight: 400;
  padding: 3px;
  padding-left: 8px;
  border-radius: 3px;
  border: 1px solid #082E41;
}
.inputField:focus {
  outline: none;
}
.rw-widget {
  /* margin: auto;
  width: 150px; */
  font-size: 12px;
}
/* .rw-multiselect {
  min-width: 200px;
  max-width: 400px;
} */
.labelInputPair {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}
.labelInputPair .inputLabel {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
  width: 100px;
}
.labelInputPair .inputField,
.labelInputPair .rw-widget
 {
  display: flex;
  flex: 1;
}
.spacedForm .labelInputPair {
  margin-bottom: 10px;
}