.topNav {
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
  background-color: #318b54;
  font-size: 16px;
  text-align: center;
  position: fixed;
  top: 0px;
  width: 100%;
}

.leftTopButton, .rightTopButton {
  display: inline-block;
  z-index: 1000;
  color: white;
  margin: 5px 20px 4px 20px;
  padding: 5px;
  font-weight: 700;
}

.searchBar {
  display: inline-block;
}