.opportunityResponseContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.responseNotes {
  margin-bottom: 10px;
}
.responseNotesInput {
  border: 1px solid lightgrey;
  border-radius: 12px;
  padding: 5px 10px;
  width: calc(80% - 20px);
  min-width: 280px;
  min-height: 12px;
  display: block;
  margin: auto;
}
.responseNotesInput:focus {
  outline: none;
}
.responseButtonContainer, .responseSubmitButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
}
.responseButtonContainer {
  margin-bottom: 10px;
}
.responseStatusOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}
.selectedResponseLabel, .deSelectedResponseLabel {
  padding: 5px;
  border-radius: 3px;
}
.selectedResponseLabel{
  background-color: #DA2536;
  color: white;
}
.deSelectedResponseLabel {
  background-color: rgba(8, 46, 65, 0.1);
  color: #082E41;
}