.opportunityResponseContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.responseNotes {
  margin-bottom: 10px;
}
.responseButtonContainer, 
.responseSubmitButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
}
.responseButtonContainer {
  margin-bottom: 10px;
}