.followButton {
  display: block;
  text-decoration: none;
  background-color: #DA2536;
  color: white;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  padding: 5px;
  cursor: pointer;
}

.followButton:hover {
  background-color: #eb293c;
}