ul.topNav {
  margin: 0;
  padding: 0;
}

.topNav {
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
  background-color: #082E41;
  font-size: 16px;
  text-align: center;
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inboxButton, .opportunitiesButton, .editProfileButton, .settingsButton, .searchBar {
  z-index: 1000;
  color: white;
  margin: 0 2.5vw 0 2.5vw;
  padding: 5px;
  font-weight: 700;
  font-size: 18px;
  align-self: center;
}

.searchBar form {
  margin: 0;
  padding-bottom: 2px;
}

.searchBar input, .searchBar button {
  margin: 0px 0.5vw 0 0.5vw;
  height: 20px;
}

.searchBar input, .searchBar button {
  border: none;
  vertical-align: center;
  border-radius: 2px;
}

.searchBar button {
  background-color: #EF525B;
  color: white;
}

.inboxButton:hover, .opportunitiesButton:hover, .editProfileButton:hover, .settingsButton:hover, .searchBar button:hover {
  cursor: pointer;
}

.cog {
  display: none;;
}

@media (min-width: 767px) { 
  .searchBar input {
    width: 250px;
  }

  .bars {
    display: none;;
  }

  .cog {
    display: inline;
  }

}